/* You can add global styles to this file, and also import other style files */
* {
  transition: 0.3s;
}

input.ng-touched.ng-invalid {
  border-color: #dc3545;
}

input.ng-valid {
  border-color: #28a745;
}

.green-icon {
  color: #28a745;
}

.red-icon {
  color: #dc3545;
}

.tborder {
  border: 2px solid #c4c4c4;
}

.tfunction {
  text-align: center;
}

.hidden {
  display: none;
}

.details {
  border-bottom: 2px solid #666;
  padding: 10px;
}

.detail-label {
  padding: 20px;
  font-weight: bold;
}

table tr.clickable:hover {
  cursor: pointer;
}

table tr .tfunction:hover {
  cursor: pointer;
  background-color: #ccc;
}

footer {
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer a {
  margin: 10px;
}
