/* You can add global styles to this file, and also import other style files */
* {
  transition: 0.2s;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 3rem;
}

small {
  display: block;
  color: #dc3545;
  margin-left: 45px;
}

input.ng-touched.ng-invalid {
  border-color: #dc3545;
}

input.ng-valid {
  border-color: #28a745;
}

.green-icon {
  color: #28a745;
}

.red-icon {
  color: #dc3545;
}

.tborder {
  /* border: 2px solid #a1a1a1; */
  box-shadow: 1px 1px 5px 1px #666;
}

.tfunction {
  text-align: center;
}

.details {
  border-bottom: 2px solid #666;
  border-left: 2px solid #666;
  padding: 20px;
  box-shadow: 1px 1px 3px #333;
  font-size: 1.5rem;
}

.detail-label {
  font-weight: bold;
}

.detail-value {
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
}

.pagination {
  position: absolute;
  bottom: -50px;
}

table tr.clickable:hover {
  cursor: pointer;
}

table tr .tfunction:hover {
  cursor: pointer;
  background-color: #ccc;
}

footer {
  text-align: center;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer a {
  margin: 10px;
}

@media only screen and (max-width: 768px) {
  .pagination {
    position: relative;
    bottom: 0;
  }
}
