/* You can add global styles to this file, and also import other style files */
input.ng-touched.ng-invalid {
  border-color: #dc3545;
}

input.ng-valid {
  border-color: #28a745;
}

.green-icon {
  color: #28a745;
}

.red-icon {
  color: #dc3545;
}

.tborder {
  border: 2px solid #c4c4c4;
}

table tr .tfunction:hover {
  cursor: pointer;
  background-color: #ccc;
}
