<table class="table table-hover table-striped tborder">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Address</th>
      <th></th>
      <th></th>
      <th></th>
      <!-- <th>Ph. Number</th>  -->
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let cd of service.list | paginate: { itemsPerPage: 5, currentPage: p };
        index as i
      "
    >
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ cd.FirstName }}</td>
      <td>{{ cd.LastName }}</td>
      <td>{{ cd.Address }}</td>
      <!-- <td>{{ cd.PhoneNumber }}</td> -->
      <td
        (click)="contactInfo(cd.CTId)"
        class="tfunction"
        data-toggle="modal"
        data-target="#infoModal"
      >
        <i class="far fa-eye fa-lg"></i>
      </td>
      <td class="tfunction" (click)="populateForm(cd)">
        <i class="far fa-edit fa-lg text-info"></i>
      </td>
      <td class="tfunction" (click)="onDelete(cd.CTId)">
        <i class="far fa-trash-alt fa-lg text-danger"></i>
      </td>
    </tr>
  </tbody>
</table>

<pagination-controls
  class="pagination"
  (pageChange)="p = $event"
></pagination-controls>

<div
  class="modal fade"
  id="infoModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="infoModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="infoModalLabel">
          Contact Details
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <p class="details">
            <span class="detail-label">First Name:</span>
            <span class="detail-value"
              >{{ currentContactInfo.FirstName }}
            </span>
          </p>
          <p class="details">
            <span class="detail-label">Last Name:</span>
            <span class="detail-value">{{ currentContactInfo.LastName }} </span>
          </p>
          <p class="details">
            <span class="detail-label">Address:</span>
            <span class="detail-value">{{ currentContactInfo.Address }} </span>
          </p>
          <p class="details">
            <span class="detail-label">Phone Number:</span>
            <span class="detail-value"
              >{{ currentContactInfo.PhoneNumber }}
            </span>
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary btn-lg"
          data-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<app-confirm-dialog></app-confirm-dialog>
