<table class="table table-hover table-striped tborder">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Address</th>
      <th>Ph. Number</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pd of service.list">
      <td>{{ pd.FirstName }}</td>
      <td>{{ pd.LastName }}</td>
      <td>{{ pd.Address }}</td>
      <td>{{ pd.PhoneNumber }}</td>
      <td class="tfunction" (click)="populateForm(pd)">
        <i class="far fa-edit fa-lg text-info"></i>
      </td>
      <td class="tfunction" (click)="onDelete(pd.CTId)">
        <i class="far fa-trash-alt fa-lg text-danger"></i>
      </td>
    </tr>
  </tbody>
</table>
