<table class="table table-hover table-striped tborder">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Address</th>
      <th></th>
      <th></th>
      <!-- <th>Ph. Number</th>  -->
    </tr>
  </thead>
  <tbody>
    <tr class="clickable" *ngFor="let cd of service.list">
      <td (click)="contactInfo(cd)">{{ cd.FirstName }}</td>
      <td (click)="contactInfo(cd)">{{ cd.LastName }}</td>
      <td>{{ cd.Address }}</td>
      <!-- <td>{{ cd.PhoneNumber }}</td> -->
      <td class="tfunction" (click)="populateForm(cd)">
        <i class="far fa-edit fa-lg text-info"></i>
      </td>
      <td class="tfunction" (click)="onDelete(cd.CTId)">
        <i class="far fa-trash-alt fa-lg text-danger"></i>
      </td>
    </tr>
  </tbody>
</table>
