<div class="jumbotron">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand"
      ><h1 class="display-6 text-center">
        <i class="fa fa-address-book fa-lg green-icon"></i> Address Book
      </h1></a
    >
    <form
      class="form-inline"
      #form="ngForm"
      autocomplete="off"
      (ngSubmit)="searchContact(keyword.value)"
    >
      <input
        name="keyword"
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="keyword"
        #keyword
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </nav>

  <hr />
  <div class="row">
    <div class="col-md-5">
      <app-contact-detail></app-contact-detail>
    </div>
    <div class="col-md-7">
      <app-contact-detail-list></app-contact-detail-list>
    </div>
  </div>
</div>
<footer class="bg-light">
  <a href="https://github.com/antonioscardovi">
    <i class="fab fa-github fa-lg"></i>
  </a>
  <a href="mailto:antonio.scardovi@gmail.com">
    <i class="far fa-envelope fa-lg"></i>
  </a>
  <a href="https://www.linkedin.com/in/antonio-scardovi/">
    <i class="fab fa-linkedin fa-lg"></i>
  </a>
</footer>
